@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_theme.scss";

// Variables declaration
$baseSize: 14px;

// external imports
@import 'https://fonts.googleapis.com/css?family=Raleway';


@import "style";
@import "_variables";

#imgPeople {
  width:45px;
  margin:5px;
}

.pag-header{
  padding-bottom: 9px;
  margin:20px 0 30px;
}

.h1Title{
  text-align: center;
}

.elementCentered {
  text-align: center;
}

.colorHeaderTable {
  background-color: $colorHeaderTable;
}

.nameColunmPadding {
  @include nameTitleColumn;
}
